@using DashBoard.ViewModel
@model AutherVM

@section Title {

}
@section SubTitle {
  Edit
}
 

<form asp-controller="Authers" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" value="@Model.Name" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>
</form>